*{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow: hidden; /* Hide scrollbars */
  }
.imgdiv{
    background-color: #19a1ad;
    display: flex;
    width: 100%;
}
.img1{
    width: 650px;
    position: relative;
    left: -100px;
    top: -300px;
}
.img2{
    width: 577px;
    position: relative;
    bottom: -200px;
    right: -100px;
}

.card{
    position: absolute;
    left: 490px;
    top: 130px;
    width: 300px;
    height: 330px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img3{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img4{
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    left: 105px;
    top: -50px;
}
.victor{
    display: flex;
    justify-content: center;
    margin-top: -37px;
}
.card div h6{
    color: #3c3b4a;
    font-size: 14px;
    font-weight: 700
}
.card div p{
    color: #8a8a92;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
}
.london h3{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    color: #8a8a92;
    margin-top: 6px;
}
hr{
    height: 1px;
    background-color: rgb(226, 225, 225);
    border: none;
    margin-top: 30px;
}
.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    margin-left: 10px;
    margin-right: 10px;
    color: #3c3b4a;
}
.txt{
    letter-spacing: 1px;
    font-size: 9px;
    color: #8a8a92;
    margin-top: 5px;
}
.info{
    
    text-align: center;
    
}